<h1 class="text-center">Messages with <%= @conversation.patient.name %></h1>
<br>
<div id="messages">
  <%= render @messages %>
</div>

<hr>
<!-- Render form to send new message -->
<%= form_for (@message), url: conversation_messages_path(@conversation) do |f| %>
  
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Type message here' %>
  </div>
  
  <p>Enter a date and time below if you would like to send the message at a scheduled time in the future</p>
  
  <div class="form-group">
    <%= f.datetime_select :send_at, ampm: true, minute_step: 5, include_blank: true %> 
  </div> 
  
  <%= f.submit 'Send Message', class: 'btn btn-primary' %>
<% end %>

<hr>

<div>
  <span class="h3-custom">Recurring Messages</span>
  <%= link_to 'Add a Recurring Message', new_conversation_recurring_message_path(@conversation), class: 'btn btn-default pull-right' %>
</div>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Message</th>
          <th>Frequency</th>
          <th>Time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @recurring_messages.each do |rm| %>
          <tr>
            <td><%= truncate(rm.body, length: 60) %></td>
            <td><%= rm.frequency %></td>
            <td><%= rm.start_date.strftime("%l:%M %p") %></td>
            <td><%= link_to "View Details", conversation_recurring_message_path(@conversation, rm)  %></td>
            <td><%= link_to 'Delete', conversation_recurring_message_path(@conversation, rm), method: :delete, data: { confirm: 'Are you sure? This message will be deleted and will no longer be sent moving forward.' } %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>

<div class="h3-custom">Scheduled Messages</div>
<br>
<% @pending_messages.each do |pm| %>
  <div class="clearfix <%= pm.id %>">
  <div class="alert <%= pm.from ? 'alert-info pm-inbound' : 'alert-success pm-outbound' %>">
    <%= pm.body %>
    <div class="text-right">
      <% if pm.send_at.nil? %>
        <small>Will send momentarily</small>
      <% else %>  
        <small>Will send <%= pm.send_at.strftime("%b %e at %l:%M %p") %></small>
      <% end %>
    </div>
    <% if pm.recurring? %>
      <small class="dark-text italic">This message is part of a recurring series.</small>  
    <% else %>
      <%= link_to 'Delete', conversation_message_path(@conversation, pm), method: :delete, data: { confirm: 'Are you sure? This message will be deleted and will not be sent.' } %>
    <% end %>
  </div>
</div>
<% end %>

<br>
<br>